@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  /* #ededed */

  background: var(--main-bg-color);
  color: var(--main-txt-color);

  /* transition: background-color 300ms ease; */
}

body {
  --page-max-width: 700px;
  --header-height: 4rem;
}
:root {
  --main-bg-color: #ffffff;
  --main-txt-color: #171717;
  --header-bg-color: #fbfbfb;
  --sub-txt-color: #444444;
  --acct-txt-color: #50d0d0;

  --sub-border-color: #ededed;
}
[data-theme="dark"] {
  --main-bg-color: #17181c;
  --header-bg-color: #17181c;
  --main-txt-color: #ededed;
  --sub-txt-color: #cdcdcd;
  --acct-txt-color: #bb000e;

  --sub-border-color: #3a3a3a;
}

a {
  display: inline-block;
  color: var(--main-txt-color);
  text-decoration: none;
}
a:hover {
  /* color: var(--acct-txt-color); */
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--acct-txt-color);

  text-underline-offset: 0.3rem;
}

hr {
  border: solid 0.5px var(--sub-border-color);
}

* {
  box-sizing: border-box;
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}
